body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#site-header, #site-footer, #main {
    .wrapper {
        max-width: $main-width;
        margin: auto;
        padding: 0 1rem;

        @include media-query($on-laptop) {
            & { padding: 0; }
        }
    }
}


/**
 * Header
 */

#site-header {
    height: 54px;
    padding: 0 24px;
    line-height: 54px;
    background: #009688;
    border-bottom: 2px solid #00796B;
}

#site-title {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -1px;
    color: #fff;
    text-shadow: 0.05rem 0.05rem 0.2rem rgba(0, 0, 0, 0.4);
}

#site-nav {
    float: right;

    a {
        font-size: 20px;
        color: rgba(255, 255, 255, 0.9);

        &:hover {
            color: #fff;
            text-decoration: underline;
        }

        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}


/**
 * Footer
 */

#site-footer {
    padding: ($spacing-unit / 2) 0;
    border-top: 1px solid #A5D6A7;
    background: #C8E6C9;
}

#site-footer .wrapper {
    text-align: center;

    .site-title {
        font-size: 1.2rem;
    }

    ul {
        list-style-type: none;
        margin-left: 0;
    }
}

@include media-query($on-laptop) {
    #site-footer .wrapper {
        display: flex;
        flex-flow: row nowrap;
        text-align: left;
    }

    #site-info { flex: 2; }
    #social-medias { flex: 1; }
    #site-description { flex: 3; text-align: right; }
}


/**
 * Main
 */

#main {
    flex: 1;

    .wrapper {
        padding: 1rem;

        @include media-query($on-laptop) {
            & {
                padding: 1rem 0;
                text-align: justify;
            }
        }
    }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $text-color-2;
}



/**
 * In-post classes
 */

.tab-r {
    padding-left: 2rem;
}

span[title] {
    color: #009688;
    cursor: help;
    border-bottom: 1px dotted #009688;
}

span[title]:hover {
    color: #00bfa5;
}


.post-subtitle {
    font-size: 22px !important;
}



/**
 * HTML5 components
 */

audio {
    width: 90%;
    display: block;
    margin: 12px auto;
}
