---
layout: default
---
<div class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <p>
        This is the {{ page.nth }} part of a series whose objective is to explore the Rust
        programming language through the development of a simple, old-school shooter.
        It is composed of 16 parts, excluding the <a href="/arcaders/arcaders-1-0">introduction</a>:
    </p>
    <ol>
        <li>
            <a href="/arcaders/arcaders-1-1">A simple window</a>,
            where we install SDL2
        </li>
        <li>
            <a href="/arcaders/arcaders-1-2">Event handling</a>,
            where we discuss lifetimes
        </li>
        <li>
            <a href="/arcaders/arcaders-1-3">More event handling</a>,
            where we discuss macros
        </li>
        <li>
            <a href="/arcaders/arcaders-1-4">Views</a>,
            where we learn about boxes, pattern matching, trait objects, and dynamic dispatch
        </li>
        <li>
            <a href="/arcaders/arcaders-1-5">Switching views</a>,
            where we use boxes, pattern matching, trait objects, and dynamic dispatch
        </li>
        <li>
            <a href="/arcaders/arcaders-1-6">A moving rectangle</a>,
            where we draw _things_
        </li>
        <li>
            <a href="/arcaders/arcaders-1-7">Sprites</a>,
            where we create our player's ship
        </li>
        <li>
            <a href="/arcaders/arcaders-1-8">Backgrounds</a>,
            where we handle resizing, scale and translate through time
        </li>
        <li>
            <a href="/arcaders/arcaders-1-9">Main menu</a>,
            where we play with textures and Rust's vectors
        </li>
        <li>
            <a href="/arcaders/arcaders-1-10">Asteroid attack!</a>,
            where we render animated asteroids
        </li>
        <li>
            <a href="/arcaders/arcaders-1-11">Shooting bullets</a>,
            where we explore iterators
        </li>
        <li>
            <a href="/arcaders/arcaders-1-12">Brawl, at last!</a>,
            where we make objects interact and explode
        </li>
        <li>
            <a href="/arcaders/arcaders-1-13">« Boom! »</a>,
            where we play sound
        </li>
        <li>
            <a href="#">Variety</a>,
            where we create more enemies
        </li>
        <li>
            <a href="#">Difficulty</a>,
            where we manage the difficulty level and the score
        </li>
        <li>
            <a href="#">High score and wrap-up</a>,
            where we play with the file-system and enhance our main menu
        </li>
    </ol>

    <article class="post-content">
        {{ content }}
    </article>

</div>
